// Write your styles here
@mixin button {
    background-color: color(buttonColor);   
    color: color(whiteColor);
    width: 120px;
    height: 40px;
    border-radius: $radius;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
body{
    max-width:1920px;
    background-color:color(mainColor);   
}
.header {
    background: url($headBackground);
    background-position: right 0px bottom -180px;
    height: 520px;
    border-bottom: thin;
    border-bottom-right-radius: 600px 200px;
}
.landing-logo {
    display: flex;
    align-items: center;


    & img {
        margin: 5px 10px 20px 140px;
        height:40px;
        width:40px;
        
    }

    & p {
        font-weight: 800;
        font-size: 20px;
        color: color(headerColor);
    }

    & span {
        display: block;
        position: relative;
        font-weight: 800;
        font-size: 10px;
        left: 10px;
        color: color(headerColor);
    }
}
.header_heading {
    position: relative;
    width: 300px;
    height: 75px;
    font-size: 40px;
    font-weight: 800;
    padding-left: 145px;
    padding-top: 25px;
    line-height: 1;
    margin: 0;
    z-index: 1;
    color: color(headerColor);
    display: block;

    &:after {
        content: '';
        height: 30px;
        width: 160px;
        position: absolute;
        top: 75px;
        background-color: color(wordColor);
        z-index: -1;
        display: block;
    }
}
.header_text {
    color: color(headerColor);
    white-space: pre;
    font-size: 13px;
    margin: 0;
    padding-left: 100px;
    padding-top: 60px;
}
.header_text + div {
    padding-left: 140px;
    padding-top: 20px;

   .header_button{
       @include button;
   }

    & a {
        font-weight: color(whiteColor);
        color: $mainFontWeight;
        padding-left: 100px;
        padding-top: 110px;        
    }
}
.section {
    .section_text {
        position: relative;
        text-align: center;
        font-size: 40px;
        margin: 0;
        font-weight: $mainFontWeight;
        z-index: 1;
        top: 15px;
        padding-bottom: 10px;
        &:after {
            content: '';
            display: block;
            height: 45px;
            width: 165px;
            position: absolute;
            top: 2px;
            left:762px;
            background-color: color(wordColor);
            z-index: -1;
        }
    }
}
.section_card_wrap {
    display: flex;
    flex-direction: column;

    .section_card {
        display: flex;
        align-self: center;
        width: 900px;
        height: 250px;
        padding: 20px;
        margin: 15px;
        background-color: color(cardColor);
        border-radius: $radius;

        .section_card_img {
            height: 100%;
            width: 100%;
            border-radius: $radius;
        }

        .section_card_right_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .section_card_heading {
                font-family: $textStyle;
                font-weight: $mainFontWeight;
                font-size: 25px;
                color: #fff;
            }

            .section_card_text {
                font-family: $textStyle;
                font-size: 13px;
                font-weight: $mainFontWeight;
                color: color(linkColor);
                padding: 0px 70px;
                text-align: left;
            }

            .section_link{
                font-weight: color(whiteColor);
                color: $mainFontWeight; 
                padding-bottom:40px;
            }
        }
    }
}
.section_banner {
    display: flex;
    border-radius:$radius;
    justify-content: space-between;
    align-items: center;
    padding: 0 160px;
    width: 71%;
    bottom: -80px;
    position: relative;
    box-sizing: border-box;
    left: 200px;
    height:130px;
    background-image: linear-gradient(to right, color(buttonColor), color(gradientColor));

    button.section_banner_button {
        @include button;
    }

    .section_banner_text_wrap {


        & .section_banner_heading {
            position: relative;
            font-size: 26px;
            white-space: pre;
            color: color(headerColor);
            margin: 0;
            font-weight: 700;
            z-index: 1;
            left:-165px;
        }

        & :after {
            content: '';
            display: block;
            height: 40px;
            width: 57px;
            left: 207px;
            bottom: 30px;
            background-color: color(wordColor);
            z-index: -1;
            position: absolute;
        }

        & .section_banner_text {
            position:relative;
            text-align: center;
            padding:0 0 0 40px;
            bottom: 30px;
            font-size: 13px;
            font-weight: $mainFontWeight;
            color: color(linkColor);
            left:-200px;
        }
    }
}
.footer {
    display: flex;
    background-color: color(cardColor);
    align-items: center;
    justify-content: space-between;

    .footer-wrap{
        padding-bottom: 40px;
        padding-top: 120px;
        font-family: 'Hind', sans-serif;
        color: color(linkColor);

        & .footer_logo {
            @extend .landing-logo;

            & P {
                align-self: center;
            }
            & span {
                align-self: right;
            }
        }
    }
    .footer_text {
        width:300px;
        margin-top: 10px;
    }
}
