$mainFontWeight: 500;
$headBackground: "../img/m-h-night.jpg";
$backGgoundColorNightPage: #21232e;
$textStyle: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$radius: 3px;
$cardColor: #3b3f50;
$headerColor: #ffffff;
$buttonColor: #e3ac00;
$mainColor: #21232e;
$wordColor: #ff4e33;
$gradientColor: #942e52;
$linkColor: #c0c3ce; 
$whiteColor: #ffffff;