$mainFontWeight:500;
$headBackground: "../img/m-h-day.jpg";
$textStyle: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$radius: 5px;
$colors: ( "cardColor" : #21232e, "headerColor" : #2c2f3c, "buttonColor": #699900, "mainColor" : #ffffff, "wordColor": #14a0c7, "gradientColor": #2c5adc,"linkColor": #c0c3ce, "whiteColor" : #ffffff);
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }
}